:root {
    --primary-color: #e5562a;
    --secondary-color: #f4f4f4;
    --hover-color: #d16c6c;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #a75353;
}

.quiz-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 65px;
    text-align: center;
}

.answer-btn,
.next-btn,
#start-btn,
#restart-btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.answer-btn {
    background-color: var(--secondary-color);
}

.answer-btn:hover {
    background-color: var(--hover-color);
}

.next-btn,
#start-btn,
#restart-btn {
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px 20px;
    margin-top: 20px;
}

.next-btn:hover,
#start-btn:hover,
#restart-btn:hover {
    background-color: #f08061;
}

.score-table li {
    text-align: left;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}